<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- Настройка вывода в Unity консоль -->
  <appender name="UnityDebugAppender" type="UnityDebugAppender, Assembly-CSharp">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Настройка вывода в файл -->
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="${APPDATA}/MyGame/logs/game.log" />
    <appendToFile value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Уровни логирования: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="UnityDebugAppender" />
  </root>
</log4net>